# Dependencies
node_modules/

# Logs and Dumps
debug.log
debug_dumps/
*.log
npm-debug.log*

# Browser Data and Session (VERY IMPORTANT)
user_data/
trusted_cookies.json

# Personal Configuration Files
config.json

# Data Input Files (Passwords/Proxies)
proxies.txt
testes.txt
gmail.txt
input_*.txt

# Output Files (Results)
gmail_ok.txt
gmail_ok_2fa.txt
gmail_testados.txt
output_*.txt

# Operating System
.DS_Store
Thumbs.db